header {
	vertical-align: center;
}
body {
	background-color: #C2ABC2;
}
h1, p {
	color: #fffafa;
	text-align: center;
}
h1 {
	text-decoration: bold, italic;
}
img.img-circle {
	border-radius: 50%;
	width: 200px;
	height: 200px;
}